html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  text-align: center;
}

#content h1 {
    font-size: 2em;
}

.header{
    margin-top:20px;
}

.heroContent{
    width:100%;
}

.portrait, .heroInfo{
    width:47%;
    display:inline-block;
    margin-bottom: 2%;
    vertical-align:top;
    height:100%;
}

.portrait {
    padding-right:2%;
}

.heroInfo{
    border-left:2px solid black;
    padding-left:2%;
}

th, .lore, .skillNumber, .skillDesc, .skills, .talents, .stats, .skill{
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

.stats, .talents, .skill, .notFirst {
    border-top: 2px solid black;
    padding-top:10px;
}

.skills {
    padding-bottom:10px;
}

.skillDesc{
    font-weight: bold;
}

.logo {
    width:50px;
    display: inline-block;
    text-align: left;
}

.heroName{
    display:inline-block;
    margin: 0;
    margin-bottom:20px;
}

.portraitContainer{
    display:block;
    width:100%;
}

.heroPortrait{
    width:100%;
}



@media only screen and (min-width: 1200px) {
    #content{
        width:1200px;
        margin:0 auto;
    }
}