html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  text-align: center;
}

#content h1 {
    font-size: 2em;
}

.heroContent{
    width:100%;
}

.portrait, .heroInfo{
    width:50%;
    display:inline-block;
    margin-bottom: 2%;
    vertical-align:top;
}

th, .lore, .skillNumber, .skillDesc, .skills, .talents, .stats{
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

.skillDesc{
    font-weight: bold;
}

.logo {
    width:50px;
    display: inline-block;
    text-align: left;
}

.heroName{
    display:inline-block;
    margin: 0;
}

.portraitContainer{
    display:block;
    width:100%;
}

.portrait{
    //width:51%;
}



@media only screen and (min-width: 1200px) {
    #content{
        width:1200px;
        margin:0 auto;
    }
}